.search {
    margin-left: 45%;
    width: 150px;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 30px;
}
@media (max-width: 500px) {
    .search{
        margin-left: 34%;
        width: 150px;
        border: none;
        outline: none;
        padding: 10px;
        margin-bottom: 30px;
    }
}
@media (max-width: 1015px) and (min-width: 601px){
    .search{
        margin-left: 37%;
        width: 100px;
        border: none;
        outline: none;
        padding: 10px;
        margin-bottom: 30px;
    }
}
@media (max-width: 1400px) and (min-width: 1016px){
    .search{
        margin-left: 44%;
        width: 150px;
        border: none;
        outline: none;
        padding: 10px;
        margin-bottom: 30px;
    }
}
